CSS Specificity
element
class, psuedo-class, attribute 
id 
Inline Stlying (attribute on HTML)

p {color: purple;}
div p {color pink;}
#red-text { color: red;}
Order: all paragraphs are purple, all div p is pink, id with red-text is red (even though all these texts coud be within <p> </p>)

DRY (Don't repeat yourself)
If two posts have same CSS styling, can put them under same class instead of  copy and pasting two separate divisions
First use all generic terms, then see how things can be grouped if needed

reset.css 
normalize.css 
Help get better, more consistent styling that browers usually change 

div { display: block;} 
This is default display 
div {display: line;}
Take divs in row (span)
div {display: inline-block;}

h1 {
    color: black; can also do rgb (100,51,197;) [red,green,blue]
    float: right; 
    font-size: 3rem; (px, em, vh, rem)
    font-family: 'Helvetcia', sans-serif;
    line-height: 2em;
    list-style-type: none;  
    letter-spacing: .25rem; 
    overflow: hidden; 
    text-alignment: right; (center,left)
    text-decoration: none;
}

div {
    background-image: url('http://pics.com/puppy');
    background-size: cover; (contain)
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
}

div {
    height: 200px; 
    width: 200px; 
    blackground:blue; 
}
div {
    height: 10vh;
    width: 50vw; 
}
Change overall height to be 10% of browser screen 
Change overall width to be 50% of browser screen 
vh, vw == view height, view width 

div {
    height: 50%; 
    width: 50%;
}
Change height and width to 50% of parent element 

em/rem (how wide is the letter m in the default browser)
div {
    height: 1em; 
    width: 2em; 
}
Keep height same as default font size
Change width to 2x the width of default 

.no-bubble{
    margin: 10px, 2px; (top and bottom, left and right)
    border: 1px blue dotted; 
    padding: 2px; 
    min-width: 400px 
    max-width: 1000px 

}
with border, margin, padding can specify which side to adjust 
margin pushes outward
padding pushes inward

.pgraph {} For classes 
#password {} For id 
input, p {} For multiple elements
div p {} For nested elements, doesnt matter how nested
div > p {} Has to be direct child of parent 
li:nth-child{} pusedo selector (li tag that pass nth child)
li:nth-child(2n+1){} find every 2 children starting at 1 
input [type="text"] {} specifically style numbers or certain text 

Psuedo Classes 
button:hover { background: purple;} If mouse hover, change color to purple 
button:active {background: purple;} if hold down button, change color to purple 

Pseudo-elements
li::before (similar to bullet points, can add things before content)
p::first-line (can style first line)
p::first-letter
Takes base element and adds an extra element to add things in 
